.countdown-timer {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .timer {
    display: inline-block;
    font-size: 4rem;
    margin: 20px 10px;
  }

  .buttons {
    display: inline-block;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #ddd;
  }

  .button-container {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vertical-button {
    margin: 2px; /* Reduced margin */
    padding: 4px 8px; /* Reduced padding */
    font-size: 12px; /* Reduced font size */
    background-color: rgb(222, 222, 222);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .countdown-timer > button {
    display: block; /* Keeps the button not inline */
    margin: 1px auto; /* Adds space above it and centers it */
    padding: 6px 10px; /* Increased padding */
    font-size: 1.5rem; /* Increased font size */
    cursor: pointer;
  }

  .timer-container {
    display: flex;
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the items horizontally */
  }

  